In [166]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Preprocessig Data

#### Import seperate excel sheets as three different dataframes

In [167]:
sales_df = pd.read_excel('Plant_DTS.xlsx', sheet_name='Plant_FACT')
delivery_df = pd.read_excel('Plant_DTS.xlsx', sheet_name='Accounts')
product_df = pd.read_excel('Plant_DTS.xlsx', sheet_name='Plant_Hierarchy')

#### Merging 3 sheets into one dataframe on basis of Product ID and Account ID

In [168]:
product_df.rename(columns={'Product_Name_id' : 'Product_id'}, inplace=True)

plants_df = pd.merge(
    (pd.merge(sales_df, delivery_df, how='inner',on='Account_id')),
    product_df, 
    how='inner', 
    on='Product_id'
)

#### Modifying columns to make them suitable for EDA

In [169]:
plants_df.columns = plants_df.columns.str.lower()
plants_df.columns

Index(['product_id', 'sales_usd', 'quantity', 'price_usd', 'cogs_usd',
       'date_time', 'account_id', 'country_code', 'account', 'master_id',
       'latitude2', 'longitude', 'country2', 'postal_code', 'street_name',
       'street_number', 'product_family', 'product_family_id', 'product_group',
       'product_group_id', 'product_name', 'product_size', 'produt_type'],
      dtype='object')

In [170]:
plants_df.rename(columns={'latitude2' : 'latitude','country2' : 'country','cogs_usd' : 'cost_of_goods_usd'}, inplace=True)

In [171]:
plants_df.dtypes

product_id                    int64
sales_usd                   float64
quantity                    float64
price_usd                   float64
cost_of_goods_usd           float64
date_time            datetime64[ns]
account_id                   object
country_code                 object
account                      object
master_id                     int64
latitude                    float64
longitude                   float64
country                      object
postal_code                  object
street_name                  object
street_number                 int64
product_family               object
product_family_id             int64
product_group                object
product_group_id              int64
product_name                 object
product_size                 object
produt_type                  object
dtype: object

In [172]:
plants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2440 entries, 0 to 2439
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         2440 non-null   int64
 1   sales_usd          2440 non-null   float64
 2   quantity           2440 non-null   float64
 3   price_usd          2440 non-null   float64
 4   cost_of_goods_usd  2440 non-null   float64
 5   date_time          2440 non-null   datetime64[ns]
 6   account_id         2440 non-null   object
 7   country_code       2440 non-null   object
 8   account            2440 non-null   object
 9   master_id          2440 non-null   int64
 10  latitude           2440 non-null   float64
 11  longitude          2440 non-null   float64
 12  country            2440 non-null   object
 13  postal_code        2440 non-null   object
 14  street_name        2440 non-null   object
 15  street_number      2440 non-null   int64
 16  product_family     2440 non-null   object
 17  product_family_id  2440 non-null   int64
 18  product_group      2440 non-null   object
 19  product_group_id   2440 non-null   int64
 20  product_name       2440 non-null   object
 21  product_size       2440 non-null   object
 22  produt_type        2440 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(5), object(11)
memory usage: 438.6+ KB

In [173]:
plants_df.drop(columns=['street_name', 'street_number', 'postal_code', 'country_code'], axis=1, inplace=True)

In [174]:
plants_df.shape

(2440, 19)

In [175]:
plants_df.sample(10)

,product_id,sales_usd,quantity,price_usd,cost_of_goods_usd,date_time,account_id,account,master_id,latitude,longitude,country,product_family,product_family_id,product_group,product_group_id,product_name,product_size,produt_type
1203,2880,12955.18,378.31,34.244879,8874.29830,2023-07-17,2307--3995,Lueilwitz-Wilkinson,2307,23.119172,113.202334,China,Cactaceae,1032,Kingcup Cactus,3218,Tricharia cretacea Vezda,Small,Outdoor
641,2067,10439.53,575.54,18.138670,7151.07805,2024-01-19,2143--56612,Hessel-Mertz,2214,8.391029,125.786916,Philippines,Iridaceae,1088,Wild Iris,3484,Thelotrema lepadinum (Ach.) Ach.,Small,Landscape
1752,2507,6525.55,201.14,32.442826,5331.37435,2023-02-07,1717-94704 CEDEX-3,"Schulist, O'Hara and Casper",1723,49.272571,-123.120797,Canada,Liliaceae,1098,Rosepink Zephyrlily,3533,Tridens eragrostoides (Vasey & Scribn.) Nash,Large,Indoor
1151,2722,11066.54,683.67,16.186962,5323.00574,2023-11-12,1264-58100-000-9112,Ortiz LLC,1351,45.784995,-72.014506,Canada,Caryophyllaceae,1039,Common Chickweed,3250,Draba asprella Greene var. asprella,Medium,Outdoor
1999,2690,6419.53,969.00,6.624902,4044.30390,2023-08-22,2159--9799,Green Inc,2455,30.044420,31.235712,Egypt,Heliconiaceae,1079,Wild Plantain,3461,Thelypteris resinifera (Desv.) Proctor,Large,Landscape
335,2746,18237.77,250.41,72.831636,7368.05908,2023-06-09,2193--1413,Mann Group,2192,53.366780,-104.000920,Canada,Violaceae,1191,Downy Yellow Violet,3940,Schaefferia Jacq.,Large,Outdoor
938,2364,11317.19,877.57,12.896054,7831.49548,2022-12-05,1068-2070-510-20663,Schaefer and Sons,1155,51.373190,6.174787,Netherlands,Verbenaceae,1189,Black Mangrove,3927,Perityle cinerea (A. Gray) A. Powell,Small,Outdoor
1357,2306,5452.94,522.56,10.435051,3342.65222,2023-08-12,1898--4,Bruen and Sons,1475,47.493658,21.662450,Hungary,Rhamnaceae,1157,Desert Ceanothus,3790,Capparis flexuosa (L.) L.,Large,Indoor
1282,2596,10328.54,858.13,12.036102,5184.92708,2023-12-02,1076-61015 CEDEX-8,"Medhurst, Bogan and Goodwin",1845,48.849398,2.475109,France,Poaceae,1140,Mourning Lovegrass,3694,Zigadenus densus (Desr.) Fernald,Small,Outdoor
2311,2802,12732.44,907.50,14.030237,9422.00560,2022-07-12,1876--3,Gutmann Group,2088,49.932124,17.800047,Czech Republic,Scrophulariaceae,1167,Waxleaf Penstemon,3893,Penstemon subglaber Rydb.,Small,Outdoor

In [176]:
plants_df.drop_duplicates(subset=['product_id','account_id'], keep='first', inplace=True)

In [177]:
plants_df.shape

(2438, 19)

# Descrptive Analysis

In [178]:
plants_df.describe()

,product_id,sales_usd,quantity,price_usd,cost_of_goods_usd,date_time,master_id,latitude,longitude,product_family_id,product_group_id
count,2438.000000,2438.000000,2438.000000,2438.000000,2438.000000,2438,2438.000000,2438.000000,2438.000000,2438.000000,2438.000000
mean,2768.805168,12326.960443,509.437551,57.851229,7423.846636,2023-02-17 12:32:29.138638336,1771.116899,28.400068,41.058854,1089.403199,3474.347416
min,2000.000000,5003.340000,10.930000,5.132463,1528.074700,2022-01-01 00:00:00,1000.000000,-36.533738,-170.781016,1000.000000,3000.000000
25%,2254.250000,8569.532500,271.695000,15.422821,4723.621740,2022-07-27 06:00:00,1380.000000,19.233277,-8.445075,1038.000000,3242.000000
50%,2517.000000,12347.945000,508.230000,24.351932,6767.151340,2023-02-22 00:00:00,1760.000000,32.060255,23.454114,1085.500000,3478.500000
75%,2767.750000,15900.887500,748.322500,46.411998,9642.744495,2023-09-14 00:00:00,2169.750000,44.550150,114.546557,1140.000000,3698.750000
max,29501.000000,19993.980000,999.550000,1652.590135,17311.724820,2024-04-14 00:00:00,2618.000000,68.798634,173.948690,1195.000000,3952.000000
std,2484.163480,4336.002835,283.433446,123.120713,3484.459112,NaN,455.018677,22.718534,77.382820,55.183882,268.978702

#### Working on feasibility and profitability of product family

In [179]:
print(plants_df['product_family'].value_counts())

product_family
Asteraceae          260
Fabaceae            190
Poaceae             142
Rosaceae             85
Scrophulariaceae     81
                   ...
Pedaliaceae           1
Heliconiaceae         1
Alismataceae          1
Rhachitheciaceae      1
Celastraceae          1
Name: count, Length: 185, dtype: int64

In [180]:
prod_family_group = plants_df.groupby(['product_family'])
prod_family_metrics = prod_family_group[['cost_of_goods_usd','price_usd','sales_usd','quantity']].sum()

In [181]:
prod_family_finance = prod_family_metrics.copy()
prod_family_finance['profit'] = prod_family_finance['sales_usd'] - prod_family_finance['cost_of_goods_usd']
prod_family_finance['profit_margin'] = (prod_family_finance['profit'] / prod_family_metrics['sales_usd'] * 100)

In [182]:
prod_family_finance = prod_family_finance.round(4)

In [183]:
prod_family_finance.reset_index(inplace=True)
prod_family_finance.to_csv("product_family_performance.csv", index=False)

In [184]:
plants_df.sample(10)

,product_id,sales_usd,quantity,price_usd,cost_of_goods_usd,date_time,account_id,account,master_id,latitude,longitude,country,product_family,product_family_id,product_group,product_group_id,product_name,product_size,produt_type
39,2969,14077.38,53.11,265.060817,9488.15412,2023-05-13,1853-2950-137-70,Vandervort-Lebsack,1853,38.586647,-8.923424,Portugal,Asteraceae,1020,Elliott's Goldenrod,3081,Ipomoea wrightii A. Gray,Large,Indoor
15,2578,5944.20,147.40,40.327001,2752.16460,2023-03-12,2224--74395,Nolan-Toy,2224,36.701056,118.911203,China,Lecanoraceae,1093,Lecidella Lichen,3511,Phacelia formosula Osterh.,Large,Indoor
1041,2407,16674.13,179.72,92.778377,7870.18936,2023-09-28,2144--0,Marks-Christiansen,2559,48.910558,2.364508,France,Chenopodiaceae,1041,Siberian Saltbush,3266,Eriogonum umbellatum Torr. var. hausknechtii (...,Large,Landscape
1139,2412,6893.32,824.48,8.360809,4763.28412,2022-04-18,1580--57019,Quigley and Sons,1000,-30.033682,-52.893221,Brazil,Polygonaceae,1143,Hausknecht's Buckwheat,3742,Trifolium haydenii Porter,Large,Landscape
595,2757,11750.23,590.21,19.908558,5064.34913,2022-02-12,1514-9913-25,"Cremin, Prohaska and Labadie",2382,33.735663,130.718392,Japan,Liliaceae,1098,Muilla,3529,Calochortus indecorus Ownbey & M. Peck,Large,Landscape
1144,2711,19732.15,289.03,68.270249,11306.52195,2023-04-23,1767--94,Hegmann Inc,1767,29.117096,110.479191,China,Ericaceae,1063,Dacite Manzanita,3351,Lobelia robusta Graham var. portoricensis (A. ...,Small,Landscape
1110,2336,9554.58,685.16,13.945035,8140.50216,2023-10-06,1760-771 31-618,Rohan Group,1643,15.613097,120.438477,Philippines,Fabaceae,1066,Riverbar Bird's-foot Trefoil,3416,Crypsis alopecuroides (Piller & Mitterp.) Schrad.,Small,Landscape
1241,2784,15230.95,18.18,837.786029,8239.94395,2023-02-28,2154-410018-898,"Torp, Schuster and Bayer",1385,11.251110,125.006390,Philippines,Berberidaceae,1022,California Barberry,3158,Symphyotrichum oolentangiense (Riddell) G.L. N...,Small,Landscape
1921,2153,9223.19,333.47,27.658230,2868.41209,2023-12-06,2065--67,"Bahringer, Ruecker and Smitham",2234,39.368808,-9.328494,Portugal,Lecanoraceae,1093,Rim Lichen,3513,Eustachys paspaloides (Vahl) Lanza & Mattei ss...,Medium,Outdoor
2050,2874,18660.95,451.43,41.337417,7259.10955,2023-09-17,1290--73651,O'Kon-Daniel,2548,48.435348,-68.553764,Canada,Cactaceae,1032,Texas Pricklypear,3224,Malus toringo (Siebold) Siebold ex de Vriese,Large,Landscape

#### Analysis of country and account's finances

In [185]:
print(plants_df['country'].value_counts())
print(plants_df['account'].value_counts())

country
China                       822
Brazil                      180
Philippines                 166
Portugal                    130
Poland                      121
France                      109
Sweden                      105
United States                91
Canada                       73
Japan                        60
Czech Republic               60
Thailand                     48
Colombia                     43
Argentina                    42
Mexico                       41
Greece                       33
Norway                       27
Hungary                      20
Pakistan                     19
South Africa                 18
Ivory Coast                  17
Croatia                      16
Bulgaria                     15
South Korea                  14
Netherlands                  13
Vietnam                      12
American Samoa               11
Gambia                       11
Germany                      11
Costa Rica                   10
Qatar                        10
Malaysia                     10
Finland                      10
Ireland                       8
Central African Republic      7
Saudi Arabia                  6
Australia                     6
Spain                         6
Morocco                       5
Kenya                         5
Egypt                         5
Switzerland                   5
United Kingdom                3
Cyprus                        3
Nepal                         3
New Zealand                   2
Belgium                       2
Ethiopia                      2
Cambodia                      1
Ghana                         1
Name: count, dtype: int64
account
Labadie Group                        23
Hickle Group                         22
Runte and Sons                       16
Connelly LLC                         13
Raynor LLC                           12
                                     ..
Herzog and Sons                       1
Stanton, Schulist and Schaefer        1
Jenkins, McCullough and Kozey         1
Kilback, Marquardt and Gusikowski     1
McKenzie-Lakin                        1
Name: count, Length: 620, dtype: int64

In [186]:
plants_df['year'] = plants_df['date_time'].dt.year
plants_df['quarter'] = plants_df['date_time'].dt.quarter

account_country_group = plants_df.groupby(['country', 'year', 'quarter', 'account'])[['cost_of_goods_usd','price_usd','sales_usd','quantity']].sum()
account_country_group

                                                        cost_of_goods_usd  \
country        year quarter account
American Samoa 2022 2       Weissnat, Braun and Gibson         9895.86048
                    3       Weissnat, Braun and Gibson        18101.03800
               2023 2       Rodriguez-Prohaska                15567.06031
                            Weissnat, Braun and Gibson        11083.78225
                    3       Weissnat, Braun and Gibson         4409.53548
...                                                                   ...
Vietnam        2023 1       Leffler-Runte                     10057.16250
                            Wisozk LLC                        30139.98591
                    3       Leffler-Runte                     11870.68410
               2024 1       Leuschke-Dicki                     3355.29632
                            Wisozk LLC                         7130.83795

                                                         price_usd  sales_usd  \
country        year quarter account
American Samoa 2022 2       Weissnat, Braun and Gibson   26.907655   12127.28
                    3       Weissnat, Braun and Gibson   59.760385   29954.28
               2023 2       Rodriguez-Prohaska          631.673920   27290.79
                            Weissnat, Braun and Gibson  838.073664   23685.45
                    3       Weissnat, Braun and Gibson   14.695689    7499.21
...                                                            ...        ...
Vietnam        2023 1       Leffler-Runte                20.635283   11287.50
                            Wisozk LLC                   82.307340   35688.01
                    3       Leffler-Runte                31.860354   13949.10
               2024 1       Leuschke-Dicki               98.708353   10292.32
                            Wisozk LLC                  113.434940    9083.87

                                                        quantity
country        year quarter account
American Samoa 2022 2       Weissnat, Braun and Gibson    450.70
                    3       Weissnat, Braun and Gibson   1333.66
               2023 2       Rodriguez-Prohaska            837.37
                            Weissnat, Braun and Gibson    673.38
                    3       Weissnat, Braun and Gibson    510.30
...                                                          ...
Vietnam        2023 1       Leffler-Runte                 547.00
                            Wisozk LLC                    868.61
                    3       Leffler-Runte                 437.82
               2024 1       Leuschke-Dicki                104.27
                            Wisozk LLC                     80.08

[1930 rows x 4 columns]

In [187]:
account_country_group['avg_price_per_item'] = account_country_group['sales_usd'] / account_country_group['quantity']
account_country_group['markup_ratio'] = account_country_group['price_usd'] / account_country_group['cost_of_goods_usd']

In [188]:
account_country_group = account_country_group.round(4)

In [ ]:
account_country_group.reset_index(inplace=True)
account_country_group.to_csv('account_country_performance.csv', index=False)

In [190]:
account_country_group

,country,year,quarter,account,cost_of_goods_usd,price_usd,sales_usd,quantity,avg_price_per_item,markup_ratio
0,American Samoa,2022,2,"Weissnat, Braun and Gibson",9895.8605,26.9077,12127.28,450.70,26.9077,0.0027
1,American Samoa,2022,3,"Weissnat, Braun and Gibson",18101.0380,59.7604,29954.28,1333.66,22.4602,0.0033
2,American Samoa,2023,2,Rodriguez-Prohaska,15567.0603,631.6739,27290.79,837.37,32.5911,0.0406
3,American Samoa,2023,2,"Weissnat, Braun and Gibson",11083.7822,838.0737,23685.45,673.38,35.1740,0.0756
4,American Samoa,2023,3,"Weissnat, Braun and Gibson",4409.5355,14.6957,7499.21,510.30,14.6957,0.0033
...,...,...,...,...,...,...,...,...,...,...
1925,Vietnam,2023,1,Leffler-Runte,10057.1625,20.6353,11287.50,547.00,20.6353,0.0021
1926,Vietnam,2023,1,Wisozk LLC,30139.9859,82.3073,35688.01,868.61,41.0863,0.0027
1927,Vietnam,2023,3,Leffler-Runte,11870.6841,31.8604,13949.10,437.82,31.8604,0.0027
1928,Vietnam,2024,1,Leuschke-Dicki,3355.2963,98.7084,10292.32,104.27,98.7084,0.0294
1929,Vietnam,2024,1,Wisozk LLC,7130.8380,113.4349,9083.87,80.08,113.4349,0.0159

In [191]:
# group_accounts = plants_df[plants_df['account'].str.contains('Group|LLC', case=False, na=False)]
# individual_accounts = plants_df[~plants_df['account'].str.contains('Group|LLC', case=False, na=False)]